.form{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    box-shadow: 2px 3px 5px #888;
    border-radius: 10px;
}


.form input, .form textarea{
    margin: 0.25rem 0 0.5rem 0;
}

.errorMessage{
    background-color: #fee;
    color: #822;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-left: 5px solid red;    
    
}