.todoList {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.todo {
  border: 1px solid black;
}

.todoHeader {
  display: flex;
  justify-content: space-between;
  background-color: #2ae;
  padding: 0.75rem;
  color: white;
}

.todoBody {
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem
}
.tags {
  display: flex;
  gap: 1rem;
  width: 100%;
  align-items: center;
}
.tag {
  background-color: #ddf;
  padding: 0.25rem 0.75rem;
  border-radius: 50px;
}

.dueDate {
  width: 100%;
  flex: 1;
  text-align: right;
}